<div class="container">
  <div class="row">
      <div class="card" style="width: 28rem; margin: 20px auto;">
        <img src="https://img.freepik.com/free-vector/page-found-concept-illustration_114360-1869.jpg?size=338&ext=jpg&ga=GA1.2.260108929.1663150182" class="card-img-top text-center" alt="...">
        <div class="card-body text-center">
          <h1 class="card-title font-weight-bold">Page Not Found</h1>
          <small class="card-text text-muted" >We are very sorry for the inconvenience. It look like you're trying to access a page that has been detected or never even existed.</small>
          <a href="#" class="btn btn-primary mt-2">BACK TO HOMEPAGE</a>
        </div>
      </div>
  </div>
</div>
